# Скопируйте этот файл как app_secrets.py и вставьте токен
# (файл app_secrets.py добавлен в .gitignore)
TINKOFF_TOKEN = "t.w29T-5ZN4mahFRf_nvHxZxfOFDVNvAOfDQokwNgnebOqCwiDuuiWtgMdNTTesuCddFVo97NU7SYvtBFM0CJmQQ"
